{
  "AWSTemplateFormatVersion" : "change in github after conflict and then in eclipse",
  "Parameters" : {
    "parameter1": {
      "Type" : "string",
      "Description" : "something"
    },
    "parameter2": {
      "Type" : "string",
      "Description" : "other stuff"
    }
  },
  "Resources" : {
    "instance345243" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        
      }
    }
  },
  "Outputs" : {
    
  }
}
