{
  "AWSTemplateFormatVersion" : "change in github",
  "Description" : "add a non-conflicting change",
  "Resources" : {
    "key" : "for branch change",
    "key2" : "for test-branch2 and another change",
    "key3" : "a change that's not in branch2'"
  }
}
