{
  "AWSTemplateFormatVersion" : "change in github",
  "Description" : "add a non-conflicting change",
  "Resources" : {
    "key" : "for branch change",
    "key4" : "new changes in branch1 after merge"
  }
}
