{
  "Parameters" : {
    "parameter1": {
      "Type" : "string",
      "Description" : "something"
    }
  },
  "Resources" : {
    "instance345243" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        
      }
    }
  },
  "Outputs" : {
    
  }
}
